<header>
<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">休日スケジュール</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to "マイページ", "/users/#{current_user.id}" %></li>
       <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
       <li><%= link_to "スケジュール作成", new_schedule_path, {class: "btn"}%></li>
    </ul>
  </div>
</div>
</header>